.scheduleCard {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
}
.planningTitle {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 20px;
  margin-top: 20px;
}
.schedule {
  border: solid 1px #7a7a7a;
  border-radius: 4px;
  margin-left: 10px;
  padding: 10px;
  height: 230px;
  width: 100%;
}
.titleSchedule {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 20px;
}
.date {
  width: 40px;
}
.speakerCard {
  display: flex;
}
.speakerName {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 5px;
}

.speakerCompany {
  font-size: 12px;
  margin: 0px;
  margin-bottom: 10px;
}
.tag {
  border-radius: 10px 10px 10px 10px;
  padding: 5px 10px;
  background-color: #338af1;
  opacity: 0.8;
  margin-bottom: 4px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.avatar {
  margin-right: 5px;
  margin-top: 5px;
}
.speakerAndTag {
  display: flex;
  justify-content: space-between;
}
.planning {
  display: flex;
}
.cardRoom {
  padding: 20px;
}
.titleRoom {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: bold;
  color: #338af1;
}
