/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  @apply text-4xl;
  font-weight: bold;
  margin-bottom: 1rem;
}
h3 {
    @apply text-2xl;
    font-weight: bold;
}

.talk_title {
    margin: 20px;
}
.talk_period {
    margin: 20px;
}
.talk_description {
    margin: 20px;
}
.talk_tags {
    margin: 20px;
}
.animated_page {
  animation: animate_show_page 3s ease;
}
@keyframes animate_show_page {
  0% {
    transform: scale(0.02, 0.02);
    opacity: 0;
  }
  50% {
    transform: scale(1, 0.02);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
